hardware/mystat_circuit_board/kicad_files/fabrication-toolkit-options.json
*.FCBakhardware/mystat_circuit_board/kicad_files/.history
hardware/mystat_circuit_board/kicad_files/~mystat.kicad_pcb.lck
hardware/mystat_circuit_board/kicad_files/~mystat.kicad_pro.lck
hardware/mystat_circuit_board/kicad_files/~mystat.kicad_sch.lck
hardware/mystat_circuit_board/kicad_files/_autosave-mystat.kicad_pcb
hardware/mystat_circuit_board/kicad_files/.history
